# Python cached files:
__pycache__/
*.pyc
*.pyo

# IntelliJ:
.idea

# MacOS Finder hidden file:
.DS_Store

# Jupyter notebook checkpoints:
.ipynb_checkpoints

# Coverage reports
.coverage
htmlcov/

# Test XML reports
reports/
