#
# To create a conda environment to run the Jupyter notebook documentation:
#
# conda create --name maskfill-docs python=3.10 --channel conda-forge --channel defaults -y
# conda activate maskfill-docs
# conda install geos
# pip install -r requirements.txt
#
# Then to run the notebook:
#
# jupyter notebook
#
boto3 ~= 1.28.62
cartopy ~= 0.22.0
contextily ~= 1.4.0
geopandas ~= 0.14.0
h5py ~= 3.9.0
harmony-py ~= 0.4.10
intake-stac ~= 0.4.0
matplotlib ~= 3.8.0
notebook ~= 7.0.4
numpy ~= 1.26.0
pystac ~= 1.8.4
