#
# To create a conda environment to run the Jupyter notebook documentation:
#
# conda create --name maskfill-docs python=3.10 --channel conda-forge --channel defaults -y
# conda activate maskfill-docs
# conda install geos
# pip install -r requirements.txt
#
# Then to run the notebook:
#
# jupyter notebook
#
boto3 ~= 1.26.108
cartopy ~= 0.21.1
contextily ~= 1.3.0
geopandas ~= 0.12.2
h5py ~= 3.8.0
harmony-py ~= 0.4.6
intake-stac ~= 0.4.0
matplotlib ~= 3.7.1
notebook ~= 6.5.3
numpy ~= 1.24.2
pystac ~= 1.7.2
